body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* font-size: 16rem; */
  line-height: 1.7;
  color: $color-primary-light;
}

.heading-primary {
  color: $color-primary;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
